tcb-env-setup.sh
shared-data.tar.gz
credentials.zip
tcb-env-setup.sh.tmp
*/changes/usr/etc/exports
*/tezi/
*/build.hash
*/update/
*/changes/usr/etc/sota/conf.d/100-offline-updates.toml
config.sh
*/changes/usr/etc/systemd/system/timers.target.wants/check-for-update.timer
*/changes/usr/etc/systemd/system/check-for-update.timer
*/changes/usr/etc/systemd/system/multi-user.target.wants/nfs.automount
*/changes/usr/etc/systemd/system/nfs.automount
*/changes/usr/etc/systemd/system/check-for-update.service
*/changes/usr/etc/systemd/system/nfs.mount
build-log.txt
images/
*/changes/nfs/update_secondary.tar
*/changes/usr/etc/greenboot/check/required.d/99-nfs-client-coordinated-update.sh
*/changes/usr/etc/greenboot/check/required.d/99-nfs-server-coordinated-update.sh
*/changes/usr/etc/greenboot/check/required.d/98-force-client-rollback.sh
*/changes/usr/bin/check-for-update.sh
